# ambiente virtual
venv/
env/

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# banco local
db.sqlite3

# variáveis sensíveis
.env

# logs
*.log

# arquivos do sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# migrations compiladas
*.sqlite3

# static coletado
staticfiles/

# media uploads
media/